<div class="container" data-controller="home" data-action= "wheel->home#cancelScroll">
  <div id="home">
    <div class="d-flex">
      <img src="assets/scout.png" alt="background circus tent image">
    </div>
    <div id="remaining">
      <div class="btn d-flex mt-2" data-action="click->home#scroll">
        NEW GAME
      </div>
    </div>
  </div>

  <div id="options">
      <div class="btn mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-players="2" data-action="click->home#show">2 PLAYERS</div>
      <div class="btn mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-players="3" data-action="click->home#show">3 PLAYERS</div>
      <div class="btn mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-players="4" data-action="click->home#show">4 PLAYERS</div>
      <div class="btn mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-players="5" data-action="click->home#show">5 PLAYERS</div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">DIFFICULTY</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <% selected_players = 0 %>
        </div>
        <div class="modal-body">
          <div class="btn my-3", data-action="click->home#start", data-difficulty="easy">EASY</div>
          <div class="btn my-3", data-action="click->home#start", data-difficulty="medium">MEDIUM</div>
          <div class="btn my-3", data-action="click->home#start", data-difficulty="hard">HARD</div>
        </div>
      </div>
    </div>
  </div>
</div>
